{% if sort_params.sort is not defined or sort_params.sort is same as ('ASC') %}
    {% set sort_param_inv = 'DESC' %}
{% else %}
    {% set sort_param_inv = 'ASC' %}
{% endif %}

<h2 class="[ oocss-title-section ]">Derniers messages envoyés</h2>
<table class="[ oocss-table ]">
    <thead>
        <tr class="[ oocss-table-head-row ]">
            <th>
                {% if sort_params.order_by is not defined or sort_params.order_by is same as ('date-creation') %}
                    {% set sort_param = sort_param_inv %}
                {% else %}
                    {% set sort_param = 'ASC' %}
                {% endif %}
                <a href="{{ path('mesclics_admin_messages', {'filter': 'sent', 'order-by': 'date-creation', 'sort': sort_param}) }}" class="[ oocss-table-col-sort {% if sort_params.order_by is not defined or sort_params.order_by is same as ('date-creation') %}oocss-active
                {% endif %}] sort-{{ sort_params.sort|default('asc') }}">Envoyé le</a>
            </th>
            <th>À</th>
            <th>Destinataires</th>
            <th>
                {% if sort_params.order_by is defined and sort_params.order_by is same as ('titre') %}
                    {% set sort_param = sort_param_inv %}
                {% else %}
                    {% set sort_param = 'ASC' %}
                {% endif %}
                <a href="{{ path('mesclics_admin_messages', {'filter': 'sent', 'order-by': 'titre', 'sort': sort_param}) }}" class="[ oocss-table-col-sort {% if sort_params.order_by is not defined or sort_params.order_by is same as ('titre') %}oocss-active
                {% endif %}] sort-{{ sort_params.sort|default('asc') }}">Objet</a>
            </th>
        </tr>
    </thead>
    {% if sentMessages|length >= 1 %}
        {% if page is not defined %}
            {% set page = 1 %}
        {% endif %}

        {% set currItems = paginate(sentMessages).page(page) %}
        {% for msg in currItems %}
            <tr class="[ oocss-table-row oocss-table-row__d__messages ]">
                <td class="[ oocss-table-data ]">
                    <a class="[ oocss-table-link ]" href="{{ path('mesclics_admin_messages', { 'filter': 'sent', 'message_id': msg.id }) }}">{{ msg.creationDate | date('d/m/Y') }}</a>
                </td>
                <td class="[ oocss-table-data ]">
                    <a class="[ oocss-table-link ]" href="{{ path('mesclics_admin_messages', { 'filter': 'sent', 'message_id': msg.id }) }}">{{ msg.creationDate | date('H:i') }}</a>
                </td>
                <td class="[ oocss-table-data ]">
                    <a class="[ oocss-table-link ]" href="{{ path('mesclics_admin_messages', { 'filter': 'sent', 'message_id': msg.id }) }}">
                        {% for recipient in msg.recipients %} {{ recipient.username }}{% if not loop.last %}, {% endif %} {% endfor %}
                    </a>
                </td>
                <td class="[ oocss-table-data ]">
                    <a class="[ oocss-table-link ]" href="{{ path('mesclics_admin_messages', { 'filter': 'sent', 'message_id': msg.id }) }}">{{ msg.title }}</a>
                </td>
            </tr>
        {% endfor %}
    {% endif %}

</table>

{% if page > 1 %}
    <div class="page-nav">
        Page
        {% for i in 1..currItems|pages  %}
            <a 
            class="
            page-button 
            {% if loop|first or loop|last %}first-last {% endif %} {% if i == page %}current-page {% endif %}
            " 
            href="{{ path('mesclics_admin_messages_sent', {'page': i}) }}">{{ i }}</a>{% if not loop|last %} | {% endif %}
        {% endfor %}
    </div>
{% endif %}
