<ul class="[ oocss-full-container-width oocss-sub_section--nav ]">
    <li class="[ oocss-sub_section-nav--bloc ]">
        <div class="[ oocss-sub_section-nav-bloc--head ]">
            <h3>Boîte de réception</h3>
        </div>
        <ul class="[ oocss-sub_section-nav-bloc--content ]">
            {% if countMessages('unread') > 0 %}
                <li>
                    <a class="[ oocss-button oocss-discret oocss-headed-block oocss-horizontal oocss-s ] messages-unread" href="{{ path('mc_admin_messages_unread') }}">Non lus<span class="[ oocss-index oocss-highlight ]">{{ countMessages('unread') }}</span></a>
                    
                </li>
            {% endif %}

            {% if countMessages('received') > 0 %}
                <li>
                    <a class="[ oocss-button oocss-discret oocss-headed-block oocss-horizontal oocss-s ] messages-all" href="{{ path('mc_admin_messages_received', {'page': 1}) }}">Tous
                    <span class="[ oocss-index ]">{{ countMessages('received') }}</span></a>
                </li>
            {% endif %}
        </ul>
    </li>

    <li class="[ oocss-sub_section-nav--bloc ]">
        <div class="[ oocss-sub_section-nav-bloc--head ]">
            <h3>Boîte d'envoi</h3>
        </div>
        <ul class="[ oocss-sub_section-nav-bloc--content ]">
            <li>
                <a class="[ oocss-button oocss-discret oocss-headed-block oocss-horizontal oocss-s ] message-new" href="{{ path('mc_admin_messages_new') }}">Nouveau message</a>
            </li>

            {% if countMessages('draft') > 0 %}
                <li>
                    <a class="[ oocss-button oocss-discret oocss-headed-block oocss-horizontal oocss-s ] messages-draft" href="{{ path('mc_admin_messages_draft') }}">Brouillons
                    <span class="[ oocss-index ]">{{ countMessages('draft') }}</span></a>
                </li>
            {% endif %}

            {% if countMessages('sent') > 0 %}
                <li>
                    <a class="[ oocss-button oocss-discret oocss-headed-block oocss-horizontal oocss-s ] messages-draft" href="{{ path('mc_admin_messages_sent') }}">Envoyés<span class="[ oocss-index ]">{{ countMessages('sent') }}</span></a>
                    
                </li>
            {% endif %}
        </ul>
    </li>
</ul>