<div class="[ message message__d__lateral ]">
    <div class="[ message--headers message--headers__d__lateral ]">
        Messsage envoyé par {{ message_preview.current.author }} reçu le {{ message_preview.current.creationDate | date('d/m/Y') }} à {{ message_preview.current.creationDate
        | date('H:i') }}
        <h2 class="[ message-headers--title ]">{{ message_preview.current.title }}</h2>
    </div>
    
    <div class="[ message--content message--content__d__lateral ]">
        {{ message_preview.current.content }}
    </div>

    <div class="[ message--controls message--controlls__d__lateral ]">
        {% if message_preview.previous is defined and message_preview.previous is not null %}
        <a class="[ message-controls--item message-controls--item__d__lateral ]" href="{{ path('mesclics_admin_messages', { 'filter': sort_params.filter, 'message_id': message_preview.previous.id }) }}">Voir le message précédent</a>
        {% endif %}
        <a class="[ message-controls--item message-controls--item__d__lateral ]" href="{{ path('mesclics_admin_messages', { 'filter': 'reply', 'message_id': message_preview.current.id }) }}">Répondre au message</a>
        {% if message_preview.next is defined and message_preview.next is not null %}
        <a class="[ message-controls--item message-controls--item__d__lateral ]" href="{{ path('mesclics_admin_messages', { 'filter': sort_params.filter, 'message_id': message_preview.next.id }) }}">Voir le message suivant</a>
        {% endif %}
    </div>
</div>