<h2 class="[ oocss-title-section ]">Messages non lus</h2>
<table class="[ oocss-table ]">
    <thead>
        <tr class="[ oocss-table-head-row ]">
            <th>Reçu le</th>
            <th>À</th>
            <th>De</th>
            <th>Sujet</th>
        </tr>
    </thead>

    {% for message in unread %}
    <tr class="[ oocss-table-row oocss-table-row__d__messages oocss-table-row__d__messages__s__unread ]">
        <td class="[ oocss-table-data ]">{{ message.creationDate | date('d/m/Y') }}</td>
        <td class="[ oocss-table-data ]">{{ message.creationDate | date('H:i') }}</td>
        <td class="[ oocss-table-data ]">{{ message.author }}</td>
        <td class="[ oocss-table-data ]">
            <a class="[ oocss-table-link ]" href="{{ path('mesclics_admin_messages_unread_preview', { 'message_id': message.id }) }}">{{ message.title }}</a>
        </td>
    </tr>
    {% endfor %}
</table>